<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">Link 1</a>
      <a mat-list-item routerLink="/alarms">Wecker</a>
      <a mat-list-item routerLink="/routines">Routinen</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="" color="primary" #toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{titleService.getTitle()}}</span>
    </mat-toolbar>

    <router-outlet class="overflow-hidden"></router-outlet>


  </mat-sidenav-content>
</mat-sidenav-container>

