fastapi~=0.78.0
pydantic~=1.9.1
uvicorn~=0.17.6
crypto~=1.4.1
pygame~=2.1.2
SQLAlchemy~=1.4.36
Flask~=2.1.1
Werkzeug~=2.0.3
requests~=2.27.1
matplotlib~=3.5.1
numpy~=1.22.2
Pillow~=9.0.1
pvporcupine~=2.1.2
pafy~=0.5.5
tensorflow==2.9.1
nltk~=3.7
PyVirtualDisplay~=3.0
selenium~=4.1.1
geopy~=2.2.0
fritzconnection~=1.9.1
setuptools==62.6.0
Cython==0.26
