<div class="card">
  <div class="card-header">
    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
      {{ routine.name }}
    </a>
  </div>
  <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
    <div class="card-body">
      <form>
        <form>
          <fieldset class="border col">
            <legend class="float-none w-auto">Beschreibung</legend>
            <input type="text" class="form-control" id="description" placeholder="Neue Beschreibung eingeben" name="description" value="{{ routine.description }}">
          </fieldset>
        </form>

        <fieldset class="border col">
          <legend class="float-none w-auto">Spezifische Sprachbefehle des Nutzers</legend>
          <ul class="list-group" *ngIf="routine.onCommands.length > 0; else createFirstCommand" >
            <div class="input-group mb-3" *ngFor="let command of onCommands">
              <input #input type="text" class="form-control"
                     value="{{ command.getText() }}"
                      (change)="command.setText(input.value)">
              <button class="btn btn-danger" type="button" (click)="onOnCommandDelete(command.getID())"><mat-icon>delete_forever</mat-icon></button>
            </div>
            <mat-icon class="add-button" (click)="onAddOnCommand()">add_circle</mat-icon>
          </ul>
          <ng-template #createFirstCommand>
            <div class="alert alert-sm alert-secondary">
              <strong>Aktuell wird die Rutine von noch keinem spezifischen Befehl gestartet!</strong> Wenn du möchtest, kannst du jetzt <button class="btn btn-secondary btn-sm" (click)="onAddOnCommand()">ein Kommando anlegen</button>.
            </div>
          </ng-template>
        </fieldset>

        <fieldset class="border col">
          <legend class="float-none w-auto">Wiederholungen</legend>
          <div class="row">
            <div class="col border-end" id="repeatings">
              <div class="smaller d-sm">
                <div class="row">
                  <tile-selector
                    class="col p-2"
                    [text]="'Montag'"
                    [checked]="routine['monday']"
                    (onCheckedEvent)="onRepeatDayChange('monday', $event)"
                  ></tile-selector>
                  <tile-selector
                    class="col p-2"
                    [text]="'Dienstag'"
                    [checked]="routine['tuesday']"
                    (onCheckedEvent)="onRepeatDayChange('tuesday', $event)"
                  ></tile-selector>
                </div>
                <div class="row">
                  <tile-selector
                    class="col p-2"
                    [text]="'Mittwoch'"
                    [checked]="routine['wednesday']"
                    (onCheckedEvent)="onRepeatDayChange('wednesday', $event)"
                  ></tile-selector>
                  <tile-selector
                    class="col p-2"
                    [text]="'Donnerstag'"
                    [checked]="routine['monday']"
                    (onCheckedEvent)="onRepeatDayChange('thursday', $event)"
                  ></tile-selector>
                </div>
                <div class="row">
                  <tile-selector
                    class="col p-2"
                    [text]="'Freitag'"
                    [checked]="routine['friday']"
                    (onCheckedEvent)="onRepeatDayChange('friday', $event)"
                  ></tile-selector>
                  <tile-selector
                    class="col p-2"
                    [text]="'Samstag'"
                    [checked]="routine['saturday']"
                    (onCheckedEvent)="onRepeatDayChange('saturday', $event)"
                  ></tile-selector>
                </div>
                <div class="row">
                  <tile-selector
                    class="col p-2"
                    [text]="'Sonntag'"
                    [checked]="routine['sunday']"
                    (onCheckedEvent)="onRepeatDayChange('sunday', $event)"
                  ></tile-selector>
                </div>
              </div>

            </div>

            <div class="col p-2">
              <form>
                <div class="mb-md-auto mt-md-auto">
                  <label for="activation" class="form-label">Aktivierung an Tagen:</label>
                  <div id="activation">
                    <form>
                      <div class="mb-md-auto mt-md-auto">
                        <label for="times">Zu bestimmten Zeiten:</label>
                        <ul class="list-group" *ngIf="routine.clock_time.length > 0; else createFirstTime" id="times">
                          <div class="input-group mb-3" *ngFor="let time of clockTimes">
                            <input matTimepicker class="form-control"
                                   #t="matTimepicker"
                                   mode="24h"
                                   [value]=time
                                   [strict]="false"
                                   (timeChange)="onTimeChange(time, $event)"
                            >
                            <button class="btn btn-primary" type="button" (click)="t.showDialog()"><mat-icon>edit</mat-icon></button>
                            <button class="btn btn-danger" type="button" (click)="onTimeDelete(time)"><mat-icon>delete_forever</mat-icon></button>
                          </div>
                          <mat-icon class="add-button" (click)="onAddClockTime()">add_circle</mat-icon>
                        </ul>
                        <ng-template #createFirstTime>
                          <div class="alert alert-sm alert-secondary">
                            <strong>Aktuell wird die Rutine zu keiner festen Uhrzeit gestartet!</strong> Wenn du möchtest, kannst du jetzt <button class="btn btn-secondary btn-sm" (click)="onAddClockTime()">eine Uhrzeit bestimmen</button>.
                          </div>
                        </ng-template>
                        <div class="space-before">
                          <div class="row p-2" style="white-space: nowrap">
                            <tile-selector
                              class="col-md"
                              [text]="'Nach Wecker'"
                              [checked]="routine.after_alarm"
                              (onCheckedEvent)="onAfterChange('alarm', $event)"
                            ></tile-selector>
                            <tile-selector
                              class="col-md"
                              [text]="'Nach Sonnenaufgang'"
                              [checked]="routine.after_sunrise"
                              (onCheckedEvent)="onAfterChange('sunrise', $event)"
                            ></tile-selector>
                          </div>
                          <div class="row p-2">
                            <tile-selector
                              class="col-md"
                              [text]="'Nach Sonnenuntergang'"
                              [checked]="routine.after_sunset"
                              (onCheckedEvent)="onAfterChange('sunset', $event)"
                            ></tile-selector>
                            <tile-selector
                              class="col-md"
                              [text]="'Nach Nutzeraufruf'"
                              [checked]="routine.after_call"
                              (onCheckedEvent)="onAfterChange('call', $event)"
                            ></tile-selector>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </fieldset>

        <fieldset class="border col">
          <legend class="float-none w-auto">von Rutine aufgerufene Module</legend>
          <input type="text" class="form-control" id="commands" placeholder="Neue Beschreibung eingeben" name="description">
        </fieldset>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-primary float-right">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
