<head>
    <title>JARVIS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid">
    <div class="card">
        <div class="card-headerd-flex justify-content-between" data-toggle="collapse" data-target="#regularBody">
            <div>Reguläre Wecker</div>
            <button type="button" class="btn" onclick="showCreateAlarmModal('regular')"><span
                    class="material-icons-outlined">add_circle</span></button>
        </div>
        <div class="collapse show">
            <div class="card-body" id="regularCardBody">

            </div>
            <div class="card-footer" style="align-content:flex-end">
                <button class="btn btn-danger" onclick="deleteAllAlarms('regular')">alle löschen</button>
            </div>
        </div>

    </div>

    <!-- The Modal -->
    <div class="modal fade" id="editModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="editModalTitle">jeden Freitag: 10:00 Uhr</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="d-flex flex-nowarp form-inline justify-content-between" style="margin-bottom: 10px;">
                        <div>Uhrzeit:</div>
                        <div class="form-group">
                            <input class="form-control" type="number" min="0" max="23" style="max-width: 5em;"
                                   id="editModalHours"> <b>:</b> <input class="form-control" id="editModalMinutes"
                                                                        type="number" min="0" max="59"
                                                                        style="max-width: 5em;">
                        </div>
                    </div>
                    <div class="d-flex flex-nowarp justify-content-between" style="margin-bottom: 10px;">
                        <div>Zu sagender Text:</div>
                        <input type="text" class="form-control" value="" id="editModalText">
                    </div>
                    <div class="d-flex flex-nowarp form-inline justify-content-between">
                        <div>Weckerton:</div>
                        <div class="input-group">
                            <div class="form-group">
                                <select class="form-control" id="editModalSounds">
                                </select>
                            </div>
                            <button class="btn btn-success input-group-append" id="editModalPlaySound"><span
                                    class="material-icons" style="font-size: 1.2em">play_arrow</span></button>
                        </div>
                        <audio id="alarmSoundAudio"></audio>
                    </div>
                    <br/><br/>
                    <div class="form-text text-muted">
                        <small>Weitere Einstellungsmöglichkeiten sind in Arbeit!</small>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" id="editModalSaveButton">Speichern</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Wecker löschen?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Möchtest du den<span id="deleteModalRepeat"></span> Wecker an <b><span
                        id="deleteModalDay"></span></b> um <b><span id="deleteModalTime"></span></b> Uhr wirklich
                    löschen?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Abbrechen</button>
                        <button type="button" class="btn btn-danger" id="deleteModalDelButton">Löschen</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="toast fade" role="alert" aria-live="assertive" aria-atomic="true" id="deleteConfirmToast"
         data-delay="5000" style="position: absolute; left: 45%; top: 5%">
        <div class="toast-header" id="confirmToastHeader">
            Wecker wurde erfolgreich gelöscht
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
            Dein <span id="deleteConfirmToastRepeat"></span> Wecker um <span id="deleteConfirmToastTime"></span> <span
                id="deleteConfirmToastMessageExtension"></span>
        </div>
    </div>
    <script src="{{ url_for('static', filename='main_alarm.js')}}"></script>
</body>
